body {
 background-color: #a7bbc7;
}

.flex-container1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  align-content: center;
  word-spacing: 3px;
  padding-left: 5px;
}

.greetings h1{
font-family: 'Gaegu', cursive;
color: #da7f8f;
text-shadow: 2px 2px #faf3f3;
font-size: 6rem;
margin: 0;
}

.imagenchuu img {
  width: 200px;
  margin-bottom: 100px;
  margin-top: 5px;
  transition: 2s ease-in-out;
  backface-visibility: hidden;
}

img:hover {
transform: perspective(200px) rotateY(180deg);
}

.flex-container1 a {
  text-decoration: none;
  color: #e1e5ea;
  word-spacing: 1px;
  font-size: 1.5rem;
  font-stretch: expanded;
  font-family: 'Do Hyeon', sans-serif;

}
.flex-container1 a:hover {
  background: -webkit-linear-gradient(#faf1e6,#fffbdf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




.flex-container1 p {
  color: #e1e5ea;
  font-size: 1.5rem;
  line-height: 1;
  font-stretch: expanded;
  font-family: 'Do Hyeon', sans-serif;

}


.flex-container1 .fun {
  padding-left: 5px;
}

.flex-container1 .stuff {
  padding-left: 40px;
}

.flex-container1 .fourchan {
  padding-right: 120px;
}


.flex-container1 .links {
  padding-top: 50px;
}


/************************links************************/


/***********************************SEARCH BOX***********************/
